<!DOCTYPE html>

<html>
    <head>
        <title>Ma todolist</title>
        <!-- librairies bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        
        <!-- librairies Ajax 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        -->
        
        <!-- js et css projets -->
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheet.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheetPopUp.css">
        <link rel="shortcut icon" type="image/jpg" href="/favicon"/>
        <script src="/modifierTaches.js"></script>

    </head>

    <body>

        <!-- Navbar -->
        <div>
            <nav class="nav nav-pills nav-fill">
                <a class="nav-link active" aria-current="page" href="/">TODO List</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
        </div>
        </br></br>

        <!-- Ajouter TODO -->
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">Nouvelle tâche :</a>
                <input class="form-control me-2" type="search" placeholder="Nom de la nouvelle tâche" id="newtodo" autofocus>
                <button onclick="ajouter(document.getElementById('newtodo').value)" class="btn btn-outline-success" type="submit" id="addtodo">Ajouter</button>
            </div>
        </nav>
        </br></br>
        
        <!-- TODO list -->
        <div class="container">
            <div class="row">
              <div class="col">
                <div class ="table-wrapper-scroll-y scrollbar ">
                    <ul class="list-group">
                        <% todolist.forEach(function(tache, index, status) { %>
                            <% if (tache.status == 'A_FAIRE'){%>
                                <li class="list-group-item list-group-item-warning">
                                        <%= tache.libelle %>
                                        <div class="btn-group custom01" role="group" aria-label="Basic mixed styles example">
                                            <button onclick="modifierStatus('<%= tache.status %>', '<%= tache.id %>')" type="button" class="btn btn-success btn-sm">DONE</button>
                                            <button onclick="openForm('<%= tache.id %>')" type="button" class="btn btn-warning btn-sm">Modifier</button>
                                            <button onclick="supprimer('<%= tache.id %>')" type="button" class="btn btn-danger btn-sm">X</button>
                                        </div>                            
                                </li>
                            <% }else if(tache.status == 'FAIT'){%>
                                <li class="list-group-item list-group-item-success">
                                        <strike><%= tache.libelle %></strike>
                                        <div class="btn-group custom01" role="group" aria-label="Basic mixed styles example">
                                            <button onclick="modifierStatus('<%= tache.status %>', '<%= tache.id %>')" type="button" class="btn btn-secondary btn-sm">TODO</button>
                                            <button onclick="openForm('<%= tache.id %>')" type="button" class="btn btn-warning btn-sm">Modifier</button>
                                            <button onclick="supprimer('<%= tache.id %>')" type="button" class="btn btn-danger btn-sm">X</button>
                                        </div>    
                                </li>
                            <% }%>
                        <% }); %>
                    </ul>
                </div>
            </div>
                <div class="col">
                    <nav class="navbar navbar-light bg-light">
                        <a class=" chercherTitre">Chercher une tâche :</a>
                        <div class="container-fluid">
                            </br>
                            <input class="form-control me-2 " type="search" placeholder="Nom de la tâche" id="shearchtodo" autofocus>
                            <button onclick="rechercher(document.getElementById('shearchtodo').value)" class="btn btn-outline-success chercher" type="submit" id="rechercher">Rechercher</button>
                        </div>
                    </nav>
                    
                    <ul class="list-group" id="resRecherche">
                    
                    </ul>
                </div>
            </div>
        </div>   
        </br></br>

        <!-- Pop-Up permettant la modification de tâches (par défaut cachée) -->
        <div class="login-popup">
            <div class="form-popup form-container" id="popupForm">
                <h2>Modifier la tâche</h2>
                </br>
                <label for="email">
                <strong>Nouveau nom de la tâche</strong>
                </label>
                <input type="text" id="newTacheName" placeholder="Ma tâche" required>
                <button type="submit" class="btn" id="valider">Valider</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Annuler</button>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div>
                <hr>
                <h6>Projet ENSIBS CYBERDEFENSE 1ère année par Brancharel Romain et Bréteshcé Antonin</h6>
            </div>
        </footer>
    </body>
</html>