a {
    text-decoration: none; color: black;
}

li { 
    list-style-type: none; 
}

li input {
    margin-right: 10px; 
}

li .supprimer { 
    margin-left:10px; color:red; font-weight:bold; font-size:60%; cursor:pointer 
}

.me-2{
    width: 60%;
}

.navbar-light .navbar-brand{
    width: 10%;
}

.btn-outline-success{
    width: 20%;
}

.container{
    max-width: 95%;
}

.chercher{
    width: 30%;
}

.chercherTitre{
    font-size: 1.25rem;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: auto;
    margin-right: auto;
}

.scrollbar{
    margin-top: 0;
    position: relative;
    height: 67vh; 
    overflow: auto;
}

.custom01{
    position: absolute;
    width: 25%;
    height: 80%;
    right: 1%;
    top: 10%;
    bottom: 10%;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.card{
    text-align: center;
}